* {
  border: 0px;
  margin: 0px;
  padding: 0px;

  text-align: inherit;
  font: inherit;
}

ul {
  list-style: none;

}

clearfix::after{
  clear: both;
  content: "";
  display: block;
}

button {
  margin: 30px;
}


.chess-game {
  margin: 30px auto;
  border: 1px solid black;
  /*border: 1px solid black;*/
  width: 160px;
  height: 160px;
}

.even {
  background: grey;
}

.odd {
  background: white;
}

.active {
  cursor: pointer;
}

.all-cells {
  cursor: pointer;
}


h1 {
  font-size: 36px;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin: 30px auto;
}

li {
  /*border: 1px solid red;*/
  /*border-right: 1px solid #353535;
  border-bottom: 1px solid #353535;*/
  height: 20px;
  width: 20px;
  /*cursor: pointer;*/
  /*background: gray;*/
  float: left;
}
